#chart-container {
    margin: 0 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px 5px;
}

tbody {
    font: 12pt "Times New Roman", Times, serif;
}

.rjust {
    text-align: right;
}

.multicolumn {
    column-count: 3;
    column-fill: balance;
    column-rule: dotted;
    column-rule-width: thin;
}
