{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'bullish.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <nav>
            <a class="navblock clickable" href="{% url 'index' %}">Home</a>
            <div class="dropdown">
                <div class="navblock">Companies</div>
                <div class="dropdown-child">
                    <div class="dropdown-content">
                        {% for symbol in symbols_all %}
                            <a href="{% url 'show_ticker' symbol curr.period curr.interval %}">
                                <div class="navblock clickable">
                                    {% if symbol == curr.symbol %}
                                        <u>{{ symbol }}</u>
                                    {% else %}
                                        {{ symbol }}
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
			    </div>
            </div>
            {% block period_menu %}{% endblock %}
            {% block interval_menu %}{% endblock %}
        </nav>
        <div class="main">
            {% block main %}{% endblock main %}
        </div>
    </body>
</html>
