{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'chart.css' %}">
{% endblock stylesheet %}

{% block main %}
    <h1>{{ company_name }} ({{ symbol }})</h1>
    <div id="chart-container">
        {{ candlestick_chart | safe }}
    </div>
    <h2>Key metrics</h2>
    <table>
        <thead>
            <tr>
                <th>Paramether</th>
                <th>Description</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in fin_metrics %}
                <tr>
                    <td title="{{ row.1 }}">{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td class="rjust">{{ row.2 | safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
