{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'chart.css' %}">
{% endblock stylesheet %}

{% block period_menu %}
    <div class="dropdown">
        <div class="navblock">Period</div>
        <div class="dropdown-child">
            <div class="dropdown-content">
                {% for period in periods %}
                    <a href="{% url 'show_ticker' curr.symbol period curr.interval %}">
                        <div class="navblock clickable">
                            {% if period == curr.period %}
                                <u>{{ period }}</u>
                            {% else %}
                                {{ period }}
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block interval_menu %}
    <div class="dropdown">
        <div class="navblock">Interval</div>
        <div class="dropdown-child">
            <div class="dropdown-content">
                {% for interval in intervals %}
                    <a href="{% url 'show_ticker' curr.symbol curr.period interval %}">
                        <div class="navblock clickable">
                            {% if interval == curr.interval %}
                                <u>{{ interval }}</u>
                            {% else %}
                                {{ interval }}
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <h1>{{ company_name }} ({{ curr.symbol }})</h1>
    <div id="chart-container">
        {{ candlestick_chart | safe }}
    </div>
    <h2>Key metrics</h2>
    <div class="multicolumn">
        {% for table in fin_metrics %}
            <table>
                <tbody>
                    {% for row in table %}
                        <tr>
                            <td title="{{ row.1 }}">{{ row.0 }}</td>
                            <td class="rjust">{{ row.2 | safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock main %}
